{% extends "base.html" %}
{% block css %}
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'moviediary/css/calendar.css' %}">
{% endblock %}
{% block title %}{{reviewer.user}}'s Calendar{% endblock %}
{% block  links %}
	{% if user.is_authenticated %}
		{% if user.username == reviewer.user %}
			<span><a href="/moviediary/profile/{{ user.username }}/">Profile</a></span>
			<span><a href="/moviediary/profile/{{ user.username }}/wishlist/">Wishlist</a></span>
			<span><a href="/moviediary/profile/{{ user.username }}/reviews/">Reviews</a></span>
		{% else %}
			<span><a href="/moviediary/profile/{{ user.username }}/">My Profile</a></span>
		{% endif %}
	{% endif %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		<div id="header_container">
		    <div id="header_left">
		        <h1>{{reviewer.user}}'s Calendar</h1>
		        {% if user.username != reviewer.user %}
		        	<a class='prof_link' href="/moviediary/profile/{{ reviewer.user }}/">Return to {{reviewer.user}}'s Profile</a>
		    	{% endif %}
		    </div>
		    <div class="clear"></div>
		</div>
		<div id="body_container">
			<div id="cal_header">
				<div id="prev_month" class="angle_month"></div>
				<div id="month_year_header">{{month}} {{year}}</div>
				<div id="next_month" class="angle_month"></div>
			</div>
			<table id="cal_table">
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>
				</tr>
				<tr class="week" id="week_1">
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
				<tr class="week" id="week_2">					
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
				<tr class="week" id="week_3">					
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
				<tr class="week" id="week_4">					
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
				<tr class="week" id="week_5">					
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
				<tr class="week" id="week_6">
					<td class="day" id="d_1">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_2">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_3">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_4">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_5">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_6">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
					<td class="day" id="d_7">
						<div class="cal_day">
							<span class="day_num"></span><div class="day_content"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="hidden_wrapper" class="hidden">
		<a class="movie_content"  href="/moviediary/movie/">
			<!-- <div class="movie_image">
				<img src="http://image.tmdb.org/t/p/w500">
			</div> -->
			<div class="details">
				<span class="movie_title"></span>
				<div class="rev_stars"></div>
			</div>
			<span class="hidden" id="index"></span>
		</a>
	</div>
{% endblock %}
{% block scripts %}
<script>
var month = {{month}};
var year = {{year}};
var reviewed_movies = '{{reviewed_movies|safe}}';
var wishlist_movies = '{{wishlist_movies|safe}}';
</script>
{% load staticfiles %}
<script src="{% static 'moviediary/js/tmdb_loader.js' %}"></script>
<script src="{% static 'moviediary/js/calendar.js' %}"></script>
{% endblock %}