{% extends "base.html" %}
{% block title %}Movie Diary{% endblock %}
{% block links %}
	{% if user.is_authenticated %}
		<a href="/moviediary/profile/{{ user.username }}/">Profile</a>
	{% else %}
		<a href="/moviediary/accounts/login/">Login</a>
	{% endif %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		<div id="body_container">
		    <ul id="movies_list"></ul>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var init_query = "{{ search_title }}"
</script>
{% load staticfiles %} 
<script src="{% static 'moviediary/js/review.js' %}"></script>
<script src="{% static 'moviediary/js/tmdb.js' %}"></script>
<script src="{% static 'moviediary/js/tmdb_loader.js' %}"></script>
{% endblock %}