{% extends "base.html" %}
{% block css %}
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'moviediary/css/profile.css' %}">
{% endblock %}
{% block title %}{{reviewer.user.username}}'s Wishlist{% endblock %}
{% block  links %}
	<span><a href="/moviediary/">Homepage</a></span>
	{% if user.is_authenticated %}
		{% if user.username != reviewer.user.username %}
			<span><a href="/moviediary/profile/{{ user.username }}/">Profile</a></span>
		{% endif %}
	{% endif %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		<div id="header_container">
		    <div id="header_left">
		        <h1>{{reviewer.user.username}}'s Wishlist</h1>
		        <a class='prof_link' href="/moviediary/profile/{{ reviewer.user.username }}/">Return to {{reviewer.user.username}}'s Profile</a>
		    </div>
		    <div class="clear"></div>
		</div>
		<div id="body_container">
			<div id="wishlist_area" class="larger_area">
				{% if wishlist %}
					<ul id="wishlist_list">
						{% for movie in wishlist %}
							<li>
							<div class="movie_info">
								<div class='movie_image'>
									<img src="http://image.tmdb.org/t/p/w500{{ movie.image_url }}">
								</div>
								<div class="details">
										<a class="movie_title" href="/moviediary/movie/{{ movie.ext_id }}/">{{movie.title}}</a>
									<span class="movie_release">{{movie.release_date}}</span>
									<span class="tagline">{{movie.tagline}}</span>
									<div class="stars_div">
										{% if movie.average_review_score > 0 %}
											<span class="stars_label">Average Review:</span>
											<div class="rev_stars">{{movie.average_review_score}}</div>
										{% endif %}
									</div>
								</div>
							</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
	</div>
{% endblock %}

{% block footer %}
<div id="page_footer">
{% if num_pages > 1 %}
	{% load moviediary_extratags %}
	
	{% if current_page != 1 %}
		{% with current_page|add:"-1" as backpage %}
			<a href="/moviediary/profile/{{reviewer.user.username}}/wishlist/{{backpage}}/">&lt; Back</a>
		{% endwith %}
	{% endif %}
	
	{% for i in num_pages|as_range %}
		{% with i|add:1 as i_page %}
			{% if current_page == i_page %}
				<a>{{i_page}}</a>
			{% else %}
				<a class="page_link" href="/moviediary/profile/{{reviewer.user.username}}/wishlist/{{i_page}}/">{{i_page}}</span>
			{% endif %}
		{% endwith %}
	{% endfor %}
	
	{% if current_page != num_pages %}
		{% with current_page|add:1 as nextpage %}
			<a href="/moviediary/profile/{{reviewer.user.username}}/wishlist/{{nextpage}}/">Next &gt;</a>
		{% endwith %}
	{% endif %}

{% endif %}
</div>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script src="{% static 'moviediary/js/tmdb_loader.js' %}"></script>
<script src="{% static 'moviediary/js/profile.js' %}"></script>
{% endblock %}