{% extends "toload_base.html" %}
{% block css %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'moviediary/css/mirko_stars.css' %}">
	<link rel="stylesheet" href="{% static 'moviediary/css/review.css' %}">
{% endblock %}
{% block content %}
<form class="movie_form"> {% csrf_token %}
	<div id="headline_area">
		<span class="span_label">Review Headline</span>
		<input type="text" id="headline" name="headline" size="32" maxlength="120">
	</div>
	
	<div id="review_text_area">
		<div id="label_div">
			<span class="span_label">Your Review</span>
		</div>
		<div id="review_area_div">
			<textarea rows="8" name="review_text" cols="72" maxlength="1000"></textarea>
		</div>
	</div>
	
	<div id="date_area">
		<span class="span_label">When did you see it?</span>
		<input type="text" id="datepicker" name="review_date">
	</div>

	<fieldset class="rate stars_rating" name="rating">
	    <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
	    <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
	    <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
	    <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
	    <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
	    <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
	    <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
	    <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
	</fieldset>
	
	<div id="form_btn">Submit Review</div>
	
	<input type="hidden" id="movie_title" name="movie_title">
	<input type="hidden" id="movie_id" name="movie_id">
	<input type="hidden" id="poster_url" name="poster_url">
	<input type="hidden" id="release_date" name="release_date">
</form>
{% endblock %}