<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
{% load staticfiles %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="{% static 'moviediary/images/favicon.ico' %}">	
    <link rel="stylesheet" href="{% static 'moviediary/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'moviediary/css/jquery-ui.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'moviediary/js/jquery.js' %}"></script> 
 	<script src="{% static 'moviediary/js/jquery-ui.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
 	<script>
 	$(function() {
        $( "#datepicker" ).datepicker();
    });
 	</script>  
</head>
<body>
	<div id="navbar">
		<div id="navbar_left">
			<h1>Roger Mebert</h1>
		</div>
		<div id="navbar_right">
            {% block links %}
            {% endblock %}
            {% if user.is_authenticated %}
	           <span>
	               {% if user.is_authenticated %}
	               	<a href="/moviediary/accounts/logout/">Logout</a>
	               {% else %}
	               	<a href="/moviediary/accounts/login/">Login/Signup</a>
	               {% endif %}
	            </span>
            {% endif %}
		</div>
		<div id="navbar_center">
			<form id="searchbar" action="/moviediary/search/" method="get">
				<input type="text" placeholder="Movie Title" id="title_search_txt" name="title">
                <a class="button" id="title_search_btn">Search</a>
                
			</form>
		</div>
	</div>
	{% block content %}{% endblock %}
    {% block footer %}
    <hr>
    {% endblock %}
</body>
  <script src="{%static 'moviediary/js/js.cookie.js' %}"></script>
  <script src="{% static 'moviediary/js/home.js' %}"></script>
  {% block scripts %}{% endblock %}
  
</html>