<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
{% load staticfiles %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="{% static 'moviediary/images/favicon.ico' %}">	
    <link rel="stylesheet" href="{% static 'moviediary/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'moviediary/css/jquery-ui.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'moviediary/js/jquery.js' %}"></script> 
 	<script src="{% static 'moviediary/js/jquery-ui.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
 	<script>
 	$(function() {
        $( "#datepicker" ).datepicker();
    });
 	</script>  
</head>
<body>
	{% block content %}{% endblock %}
    {% block footer %}
    <hr>
    {% endblock %}
</body>
  <script src="{%static 'moviediary/js/js.cookie.js' %}"></script>
  <script src="{% static 'moviediary/js/home.js' %}"></script>
  {% block scripts %}{% endblock %}
  
</html>