{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block links %}
<span><a href="/moviediary/">Homepage</a></span>
{% endblock %}
{% block content %}

	<div id="wrapper">
	    <div id="body_container">		  
		  <h2>Create Account</h2>
		  <form id="register" action="/moviediary/accounts/register/" method="post">{% csrf_token %}
		  		<span class="error">{{ reason }}</span>
		  	
		  	<div class="field">
		    	<label for="username">User name:</label>
		    	<input type="text" name="username" value="" id="username">
		    </div>
			<div class="field">
		    	<label for="email">Email:</label>
		    	<input type="email" name="email" value="" id="email">
			</div>
		    <div class="field">
		    	<label for="password">Password:</label>
		    	<input type="password" name="password" value="" id="password">
			</div>
		    <input id="reg_btn" type="submit" value="Create Account" />
		    <p class="error">{{ reg_error }}</p>
		  </form>
		  <div id="hide_login">
			  <form id="login" action="" method="post">{% csrf_token %}
			  	<div class="field">
			    	<label for="username">User name:</label>
			    	<input type="text" name="username" value="" id="username">
			    </div>
			    <div class="field">
			    	<label for="password">Password:</label>
			    	<input type="password" name="password" value="" id="password">
				</div>
			    <input id="login_btn" type="submit" value="Login" />
			    {% if form.errors %}
				    <p class="error">Sorry, that's not a valid username or password</p>
				  {% endif %}
			    <input type="hidden" name="next" value="/moviediary/profile/" />
			  </form>
		</div>
		</div>
	</div>

{% endblock %}
{% block scripts %}
{% load staticfiles %}
<script src="{% static 'moviediary/js/account.js' %}"></script>
{% endblock %}