{% extends "base.html" %}
{% block css %}
{% load staticfiles %}
	
{% endblock %}
{% block title %}Remove User{% endblock %}
{% block  links %}
	{% if user.is_authenticated %}
		{% if user.username != reviewer.user.username %}
			<span><a href="/moviediary/profile/{{ request.user.username }}/">Profile</a></span>
		{% endif %}
	{% endif %}
{% endblock %}
{% block content %}
	<div id="wrapper">
		<div id="header_container">
		    <div id="header_left">
		        <h1>Remove Account</h1>
		    </div>
		    <div class="clear"></div>
		</div>
		<div id="body_container">
			<h3>Are you sure you want to remove your account?</h3>
			<form id="remove_form" action="/moviediary/profile/{{request.user.username}}/remove_user/">
				{% csrf_token %}
				<h4>Please enter password to confirm</h4>
				<input type="password" name="pass_input" id="pass_input">
				<input type="submit" value="Confirm">
				<div class="error"></div>
			</form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
var username = {{user.username}}
</script>
{% load staticfiles %}
<script src="{% static 'moviediary/js/account.js' %}"></script>
{% endblock %}